* {
	margin: 0;
	padding: 0;
}
.body {
  background-color: rgb(146, 141, 143);
  display: flex;
  justify-content: center;
}
.header {
	width: 404px;
	height: 404px;
	border: 2px solid black;
	background-color: rgb(101, 57, 136);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 100%;
	gap: 0.1rem;
	margin-top: 60px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
#btn {
	width: 192px;
	padding: 4px;
	border: 1px solid #cecece;
	background: hsl(292, 34%, 67%);
	border-radius: 10px;
	font-family: Arial, Helvetica, sans-serif;
}
#btn:hover {
	color: #115569;
	text-shadow: 0 0 1px #7c807d;
	box-shadow: 0px 0px 3px 3px rgb(212, 29, 29);
}
#name {
	width: 180px;
	padding: 4px;
	border: 1px solid #cecece;
	background: hsl(292, 34%, 67%);
	border-radius: 10px;
	font-family: Arial, Helvetica, sans-serif;
}
#name:hover {
	color: #115569;
	text-shadow: 0 0 1px #7c807d;
	box-shadow: 0px 0px 3px 3px rgb(189, 33, 40);
}
#password {
	width: 180px;
	padding: 4px;
	border: 1px solid #cecece;
	background: hsl(292, 34%, 67%);
	border-radius: 10px;
	font-family: Arial, Helvetica, sans-serif;
}
#password:hover {
	color: #115569;
	text-shadow: 0 0 1px #7c807d;
	box-shadow: 0px 0px 3px 3px rgb(202, 49, 49);
}
#hallo {
  margin-bottom: 80px;
}

